<!DOCTYPE html>
<html>

<head>
    <title>hello</title>
    <link rel="stylesheet" type="text/css" href="/md/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/md/css/mdb.min.css">
    <link rel="stylesheet" type="text/css" href="/notification/build/toastr.css">
    <script src="/md/js/jquery-3.3.1.min.js"></script>
    <script src="/notification/toastr.js"></script>
    <script src="/md/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/css.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
    script.
      let der="#{show}";
      if(der.length>0)
      {
        toastr.error(der, 'password', {timeOut: 5000,
          positionClass: 'toast-bottom-center',
          closeButton: true,
          progressBar:true,
        })
      }
      else{
        document.write("hello gajju");
      }
    //- script(type='text/javascript').
    //-   document.write(`<h1>${wer}</h1>`);
    //-   if(wer.length>0)
    //-   {
    //-       
    //-   }  
    //-   else
    //-   {
    //-     console.log("gajaju");
    //-   }
      
    <nav class="navbar navbar-expand-sm navbar-light kk fixed-top">
        <a class="navbar-brand text-white te" href="#">xemzom</a>

        <div class="navbar-collapse">
            <ul class="navbar-nav lead ml-auto" style="font-weight: 600;">
                <li>
                    <a href="/" class="nav-link text-white te text-white te"><i class="fas fa-house-damage nav-link tx text-white"></i>Home</a>
                </li>
                <li>
                    <a href="/Shop" class="nav-link text-white te text-white te"><i class="fas fa-shopping-bag nav-link tx text-white"></i>Shop</a>
                </li>
                <li>
                    <a href="/Product" class="nav-link text-white te text-white te"><i class="fas fa-suitcase nav-link tx text-white"></i>Product</a>
                </li>
                
                <li>
                    <a href="/Order" class="nav-link text-white te text-white te"><i class="fab fa-first-order nav-link tx text-white"></i>Order</a>
                </li>
                <li>
                    <a href="/Add_Product" class="nav-link text-white te text-white te"><i class="fab fa-product-hunt nav-link tx text-white"></i>Add Product</a>
                </li>
                <li>
                    <a href="/Admin_Product" class="nav-link text-white te text-white te"><i class="fab fa-cloudsmith nav-link tx text-white"></i>Admin Product</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>

    <center>
        <br>
        <br>
        <div class="col-md-5">
            <!--Section: Live preview-->
            <section class="form-light">
                <!--Form without header-->
                <br>
                <br>
                <br>
                <div class="card">
                    <div class="card-body mx-4">
                        <!--Header-->
                        <div class="text-center">
                        </div>
                        <!--Body-->
                        <!-- form login -->
                        <form action="/socialservice_enter" method="POST">
                            <div class="md-form pb-3">
                                -let email=`${authenticated_email}`;
                                if(email==='instagram')
                                    p.
                                        #{authenticated_email} not given email so I require manually
                                    <input type="email" name="email" class="form-control" placeholder="Your Email"><br>         
                                
                                
                                <input type="password" name="password1" class="form-control" placeholder="Your password">
                                <div class="md-form">
                                    <input type="password" name="password2" class="form-control" placeholder="Your Retype-password">
                                </div>
                                <div class="form-check my-4">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck12">
                                    
                                </div>
                            </div>
                            <!--Grid row-->
                            <div class="row d-flex align-items-center mb-4">
                                <!--Grid column-->
                                <div class="col-md-3 col-md-6 text-center">
                                  -let emails=`${authenticated_email}`;
                                    if(emails!='instagram')
                                      <input type="hidden" value="#{emails}" name="email">


                                    <button type="submit" class="btn btn-rounded btn-outline-dark-green btn-lg">Sign up</button><br>
                                    
                                <!--Grid column-->
                            </div>
                        </form><!--I have no account-->
                        
                    </div>
                </div>
                <!--/Form without header-->
            </section>
            <!--Section: Live preview-->
        </div>
    </center>
</body>

</html>